.RecipeBox {
  color: green;
  border: 1px solid green;
  margin: 30px;
  border-radius: 5px;
  background-color: #F5F5F5;
  text-align: left;
  padding-bottom: 30px;
}
.recipeItem {
  border: 1px solid green;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 20px;
  background-color: azure;
  text-align: left;
}
.recipeDetails > ul {
  list-style: none;
  margin-bottom: 20px;
}
.RecipeBox > ul {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  list-style: none;
}
.ingredient {
  background-color: white;
  border: solid 1px green;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
}
button {
  height: 40px;
  width: 70px;
  font-size: 15px;
  border-radius: 10px;
}
.buttonDelete {
  background-color: red;
}
.buttonAdd {
  background-color: green;
  width: 100px;
  margin-left: 50px;
  margin-bottom: 30px;
}
.buttonEdit {
  background-color: lightgrey;
  color: black;
}
.recipeDetails {
  display: none;
}
.active {
  display: block;
}
a {
  color: white;
}
a.button {
    appearance: button;
    border-radius: 5px;
    border: 1px solid grey;
    text-decoration: none;
    margin-left: 50px;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
}
input, textarea {
  margin-bottom: 10px;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}


.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 480px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #F5F5F5;
	background: -moz-linear-gradient(#F5F5F5, lightgrey);
	background: -webkit-linear-gradient(#F5F5F5, lightgrey);
	background: -o-linear-gradient(#F5F5F5, lightgrey);
}

@media (max-width: 320px) {
    .modalDialog > div {
        width: 300px;
    }
}
@media (min-width: 768px) {
    .modalDialog > div {
        width: 480px;
    }
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
